/* -------------CLASS selectors--------- */

.about_me {
  font-size: 1.2rem;
}

.contact_me {
  height: 725px;
}

.header {
  color: black;
}

/* -------------ID selectors--------- */
#about_me_h1 {
  margin-top: 0px;
  padding-top: 120px;
}

#about_me_interest {
  padding-left: 30px;
}

#contact_me_heading {
  background-color: black;
  color: white;
  height: 100px;
  margin-top: 50px;
  padding-top: 30px;
}

#div_3_heading {
  margin-top: 60px;
  margin-bottom: 30px;
  padding-top: 20px;
}

#email {
  display: inline;
}

#footer_copyright {
  padding-bottom: 20px;
  margin-bottom: 0px;
}

#profile_pic {
  padding-top: 120px;
}

/* -------------TAG selectors--------- */
a {
  text-decoration: none;
}

body {
  margin: 0;
}

ul,
ol {
  text-align: left;
}
